/* -------------------------------------------------------------------------- */
/*                                                                            */ 
/*     88888      88884   788888888888888   788884    78888   788888888888888 */ 
/*    78887      488882  8888888888888888  88887    1888888  8888888888888888 */ 
/*    7          88888  28888              87                88888            */ 
/*       88      88888  888885 777777         2  777777777  088888 7777777    */ 
/*    88888     58888   888888888888888    788878888888888  7888888888888887  */ 
/*   88888      88888            788888  788887         7             888881  */ 
/*   88888     788889             88888  88888                        88888   */ 
/*  7888888888888888  7888888888888888   8888888888888881  8888888888888884   */ 
/*   78888888888887   788888888888887     08888888888888   88888888888881     */ 
/*                                                                            */
/* -------------------------------------------------------------------------- */
/* Css: v3 - Uses Software & Design - 05/04/2016 ---------_-Joseafs-----------*/
/* Css: v3 - Monte Cristo - 59 - 02/05/2016 ----------_-Joseafs---------------*/
/* -------------------------------------------------------------------------- */
@import 'uses.css';
/* -------------------------------------------------------------------------- */
@import url(https://fonts.googleapis.com/css?family=Roboto:400,700,300);
/* font-family: 'Roboto', sans-serif; */
/* -------------------------------------------------------------------------- */
@font-face {
    font-family: 'material-icons';
    font-style: normal;
    font-weight: 400;
    src: url(../iconfont/MaterialIcons-Regular.eot); /* For IE6-8 */
    src: local('Material Icons'),
         local('MaterialIcons-Regular'),
         url(../iconfont/MaterialIcons-Regular.woff2) format('woff2'),
         url(../iconfont/MaterialIcons-Regular.woff) format('woff'),
         url(../iconfont/MaterialIcons-Regular.ttf) format('truetype');
}
@font-face {
    font-family: "uses-icons";
    src:url("../iconfont/uses.eot");
    src:url("../iconfont/uses.eot?#iefix") format("embedded-opentype"),
      url("../iconfont/uses.woff") format("woff"),
      url("../iconfont/uses.ttf") format("truetype"),
      url("../iconfont/uses.svg#uses") format("svg");
    font-weight: normal;
    font-style: normal;
}
.fIcon:before{float: left;}
.fIcon{
    font-family: 'material-icons' ;
    position: relative;
    font-weight: normal;
    font-style: normal;
    font-size: 1.8rem; 
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;
    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;
    /* Support for IE. */
    font-feature-settings: 'liga';
}
.fIcon-uses{font-family: 'uses-icons'!important;}
/* -------------------------------------------------------------------------- */
/* Definir */
body{
    font-family: 'Roboto', sans-serif;
}
section{
    padding-top: 170px;
    min-height: 100%;
    background-size: auto 100%;
    background:  radial-gradient(rgba(255,255,255, .06) 20%, #E2C48E 101%), url(../img/folhas_bg02.png) left -50px bottom 25% no-repeat, url(../img/folhas_bg02.png) right -100px top 10% no-repeat;
    
    
}
.container{max-width: 1500px;}

.bgFirst{background-color: #271E1D!important;}
.bgSecond{background-color: #986931!important;}
.bgThird{background-color: rgba(97,193,243,1)!important;}
.cFirst{color: #271E1D!important;}
.cSecond{color: #986931!important;}
.cThird{color: #FCB116!important;}
.cFour{color: rgba(97,193,243,1)!important;}

.fillFirst{fill: #271E1D!important;}
.fillSecond{fill: #986931!important;}
.fillThird{fill: #FCB116!important;}
/* -------------------------------------------------------------------------- */
/* Icones */
@font-face {
    font-family: "mcristo";
    src: url("../iconfont/mcristo.eot");
    src: url("../iconfont/mcristo.eot?#iefix") format("embedded-opentype"),
         url("../iconfont/mcristo.woff") format("woff"),
         url("../iconfont/mcristo.ttf") format("truetype"),
         url("../iconfont/mcristo.svg#mcristo") format("svg");
    font-weight: normal;
    font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0){
  @font-face {
    font-family: "mcristo";
    src: url("./mcristo.svg#mcristo") format("svg");
  }
}
[class*="mcristo-"]{
    max-width: 100%;
    
}   
[class*="mcristo-icon"]{   
    background: url(../img/coxinha01.svg) center center no-repeat;
    height: 80px;
    width: 80px;
    background-size: 100%!important;
    position: relative;
    display: inline-block;
}
[class*="mcristo-icon"]:before{ 
    font-family: mcristo;
    font-size: 3.5rem;
    font-style: normal;
    color: #E7C79D;
    position: absolute;
    width: 40px;
    height: 40px;
    top: 50%;
    left: 50%;
    margin-top: -14px;
    margin-left: -20px;
}

[class*="mcristo-"],[class*="mcristo-"]:before{transition: all .3s ease-in-out;}
[class*="mcristo-"]:hover{transform: scale(1.1)}
[class*="mcristo-"]:hover:before{transform: scale(1.16)}

[class*="-icon-exit"]:before { content: "\f100"; }
[class*="-icon-farm"]:before { content: "\f101"; }
[class*="-icon-food"]:before { content: "\f102"; }
[class*="-icon-food-1"]:before { content: "\f103"; }
[class*="-icon-fun"]:before { content: "\f104"; }
[class*="-icon-kitchen"]:before { content: "\f105"; }
[class*="-icon-kitchen-1"]:before { content: "\f106"; }
[class*="-icon-rest"]:before { content: "\f107"; }
[class*="-icon-shapes"]:before { content: "\f108"; }
[class*="-icon-shapes-1"]:before { content: "\f109"; }
[class*="-icon-sleeping"]:before { content: "\f10a"; }
[class*="-icon-sofa"]:before { content: "\f10b"; }
[class*="-icon-tool"]:before { content: "\f10c"; }
[class*="-icon-transpor"]:before { content: "\f10d"; }
/* -------------------------------------------------------------------------- */
/* Header/footer */
header{
    position: absolute;
    left: 0;
    top: 0;
    
}
#header-menu{width: calc(100% - 300px);}
.navLine{
    margin-top: 40px;
    float: left;
    width: 100%;
    position: relative;
    height: 2px;
}
.navDot{
    position: absolute;
    top: -7px;
    margin-left: -8px;
    left: 0;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    z-index: 1;
    box-shadow: inset 0 0 0 4px #271E1D;
    background: #FAEDDD; 
}
[data-nav*='empreendimento'].navDot {left: 10%!important;}
[data-nav*='infraestrutura'].navDot {left: 30%!important;}
[data-nav*='video'].navDot {left: 50%!important;}
[data-nav*='contato'].navDot {left: 70%!important;}

.navMarker{
    z-index: 9;
    width: 30px;
    height: 30px;
    top:  -15px;
    margin-left: -15px;
    display: none;
    background-color: transparent!important;
    box-shadow: none!important;
}
.navMarker.active{
    display: block!important;
    transition: all 1s;
    transform: rotate(0deg)!important;
}
.navMarker.home{
    transform: rotate(90deg);
    display: block!important;
    transition: all 1s;
}
/*
.navMarker.inHover{
    transform: scale(1.1) translateY(-5px)!important;
}
*/
@keyframes autoDot{
    0%{left:0;}
    100%{left:100%;}
}

#localMaps {height: calc(100% + 30px);}
/* -------------------------------------------------------------------------- */
/* Home */
#empreendimento .box6{height: 150px;}
/* -------------------------------------------------------------------------- */
/* Home */
.hvrTxtB{
    position: absolute;
    left: 50%;
    margin-left: -100px;
    top: 100%;
    text-align: center;
    z-index: 999;
    width: 200px;
}
/* -------------------------------------------------------------------------- */
/* Menus */
.contMenu li{
    z-index: 9;
    float: left;
    position: relative;
}
.contMenu li:hover{z-index: 10;}
.contMenu li a.linkMenu{
    text-align: center;
    z-index: 5;
    width: 100%;
    float: left;
    position: relative;
    border-radius: 3px;
}
.contMenu .subMenu{
    float: left;
    top:100%;
    position: absolute;
    left: 0;
    z-index: 4;
    min-width: 100%;
    background-color: #fff;
    box-shadow: 0 2px 3px 0px rgba(0,0,0, .3);
    border-radius: 0 0 3px 3px;
    max-height: 0;
    overflow: hidden;
}
.contMenu .subMenu .subMenuContent{ overflow-x: auto; max-height: 340px; float: left; width: 100%;}
.contMenu .subMenu ul li{
    float: left;
    padding: 0;
    min-width: 100%; 
}
.contMenu a.linkMenu{
    padding: 6px;
    white-space: nowrap; 
}
.contMenu .subMenu a.linkMenu{ text-align: left!important; padding: 8px 10px;}
.contMenu a.linkMenu:hover{background-color: rgba(0,0,0,.1)!important;}
/* -------------------------------------------------------------------------- */
/* google maps */ 
#rotaMaps{width: calc(100% - 397px);}
#rotaTxt{width: 387px;}
/* -------------------------------------------------------------------------- */
/* Paginas */
/*body#pg-wrap{background-color: rgba(202, 255, 190, 0.26);}*/
/* -------------------------------------------------------------------------- */
/* SOCIAL ICONES */
.socialIcones{
    width: 370px;
    z-index: 999;
    padding-top: 5px;
}
.socialIconesFacebook{
    float: left;
    z-index: 1;
    width: 55px;
    padding: 2px;
}
img#share_button{
    float: right;
    cursor: pointer;
}

.content #videoincorporado{
    width: 100%;
    max-width: 500px;
}
.content #tabelaincorporado{margin:2% 0 2% 0;}
/* -------------------------------------------------------------------------- */
/* Barra Lateral - Sidebar */
#header-toggle{
    position: fixed;
    top: -17px; 
    right: -79px; 
    transform: rotate(45deg);
    width: 200px;
    z-index: 99;
}
#header-toggle .effToggle{
    display: inline-block;
    transform: rotate(-45deg);
}
#header-toggle.active{
    animation: openMenu 2.6s  ease-in-out normal;
    animation-fill-mode: forwards;
}
@keyframes openMenu{
    10%{z-index: -1; opacity: 0;}
    100%{opacity: 1; z-index: 99999;}
}

/* -------------------------------------------------------------------------- */
/* Infraestrutura */
.portaria {
    width: 710px;
    height: 560px;
}
[class*='gumPos-']{
    position: absolute;
    max-width: 100%;
}
.portaria .gumPos-img1{
    top: 0%;
    width: 68%;
    left: 0%;
    max-width: 480px;
}
.portaria .gumPos-img2{
    bottom: 0%;
    right: 22%;
    width: 43%;
    max-width: 300px;
}
.portaria .gumPos-txt{
    width: 240px;
    min-height: 80px;
    top: 38%;
    right: 6%;
}
.portaria .gumPos-mcristo-portaria{
    background: url(../img/kibinPortaria.png) center center no-repeat;
    width: 90px;
    height: 90px;
    margin-top: -45px;
    margin-left: -45px;
    top: 62%;
    right: 52%;
}
.portaria .gumPos-mcristo-icon-shapes-1{
    background: url(../img/kibinRed.png) center center no-repeat;
    width: 93px;
    height: 87px;
    right: 20%;
    top: 15%;
}
.portaria .gumPos-mcristo-icon-shapes-1:before{
    transform: rotateY(180deg) rotate(30deg)!important ;
    left: 40%;
    margin-top: -22px;
    animation: spyCam 6s ease-in-out infinite alternate; 
}
@keyframes spyCam{ 
    100%{transform:  rotateY(180deg) rotate(10deg)}
}
/* -------------------------------------------------------------------------- */
.salao-festas {
    width: 780px;
    height: 680px;
}
.salao-festas .gumPos-img1{
    top: 0%;
    width: 80%;
    left: 0%;
    max-width: 615px;
}
.salao-festas .gumPos-txt{
    width: 220px;
    min-height: 80px;
    margin-top: -30px;
    margin-left: -140px;
    top: 68%;
    right: 2%;
}
.salao-festas .gumPos-mcristo-festas{
    background: url(../img/kibinFesta.png) center center no-repeat;
    width: 90px;
    height: 90px;
    margin-top: -45px;
    margin-left: -45px;
    top: 35%;
    left: 11%;
}
.salao-festas .gumPos-mcristo-icon-food-1{
    background: url(../img/kibinYellow.png) center center no-repeat;
    width: 96px;
    height: 87px;
    left: 46%;
    top: 3%;
}
.salao-festas .gumPos-mcristo-icon-food-1:before{
    margin-top: -22px;
    margin-left: -32px;
}
/* -------------------------------------------------------------------------- */
.playground {
    width: 1050px;
    height: 580px;
}
.playground .gumPos-img1{
    top: 0%;
    width: 46%;
    left: 20%;
    max-width: 480px;
    z-index: 9;
}
.playground .gumPos-img2{
    bottom: 0%;
    left: 1%;
    width: 26%;
    max-width: 300px;
}
.playground .gumPos-txt{
    width: 200px;
    min-height: 100px;
    top: 8%;
    left: 1%;
}
.playground .gumPos-txt2{
    width: 280px;
    min-height: 120px;
    top: 37%;
    right: 4%;
}
.playground .gumPos-mcristo-playground{
    background: url(../img/kibinPlayground.png) center center no-repeat;
    width: 90px;
    height: 90px;
    margin-top: -45px;
    margin-left: -45px;
    left: 40%;
    bottom: 5%;
}
.playground .gumPos-mcristo-icon-fun{
    background: url(../img/kibinBrown.png) center center no-repeat;
    width: 89px;
    height: 87px;
    left: 5%;
    top: 35%;
}
.playground .gumPos-mcristo-icon-fun:before{
    margin-top: -20px;
    margin-left: -15px;
}
/* -------------------------------------------------------------------------- */
.fachada {
    width: 800px;
    height: 600px;
}
.fachada .gumPos-img1{
    bottom: 0%;
    width: 60%;
    left: 0%;
    max-width: 480px;
}
.fachada .gumPos-img2{
    top: 2%;
    left:38%;
    width: 38%;
    max-width: 300px;
    z-index: 9;
    
}
.fachada .gumPos-txt{
    width: 200px;
    min-height: 100px;
    bottom: 4%;
    right: 4%;
}
.fachada .gumPos-mcristo-fachada{
    background: url(../img/kibinFachada.png) center center no-repeat;
    width: 90px;
    height: 90px;
    margin-top: -45px;
    margin-left: -45px;
    left: 59%;
    bottom: 26%;
}
.fachada .gumPos-mcristo-icon-rest{
    background: url(../img/kibinPurple.png) center center no-repeat;
    width: 82px;
    height: 87px;
    left: 2%;
    bottom: 58%;
    z-index: 9;
}
.fachada .gumPos-mcristo-icon-rest:before{
    margin-top: -24px;
    content: '';
    background: url(../img/house.svg) center center no-repeat;
}

