/* -------------------------------------------------------------------------- */
/*                                                                            */ 
/*     88888      88884   788888888888888   788884    78888   788888888888888 */ 
/*    78887      488882  8888888888888888  88887    1888888  8888888888888888 */ 
/*    7          88888  28888              87                88888            */ 
/*       88      88888  888885 777777         2  777777777  088888 7777777    */ 
/*    88888     58888   888888888888888    788878888888888  7888888888888887  */ 
/*   88888      88888            788888  788887         7             888881  */ 
/*   88888     788889             88888  88888                        88888   */ 
/*  7888888888888888  7888888888888888   8888888888888881  8888888888888884   */ 
/*   78888888888887   788888888888887     08888888888888   88888888888881     */ 
/*                                                                            */
/* -------------------------------------------------------------------------- */
/* Css: v3 - Uses Software & Design - 05/04/2016 ---------_-Joseafs-----------*/
/* Css: v3 - Monte Cristo - 59 - 02/05/2016 ----------_-Joseafs---------------*/
/* -------------------------------------------------------------------------- */
/* Transition time */
/* ----------------------- */
.live-3d, .contMenu a,.inputField *, .fa:after, .fa:before, .close-right, .close-right:before, .effToggle div, .default a, .effZoom .spy-child, .effOpac *, .fancybox-prev *, .fancybox-next *, .btnEnviar, .box3 *, .effGrayscale, .rsMinW .rsArrowIcn, .effScale, .effBg, [class*="effShadow"]:after, [class*="effShadow"]
{-webkit-transition-duration: .3s;
 -webkit-transition: all  ease-in-out .3s;
 transition: all  ease-in-out .3s;
 -moz-transition: all  ease-in-out .3s;
}
/* ----------------------- */
.content-store, [class*="-child"], #aside-leftBtn, .live-5d{
    -webkit-transition-duration: .5s;
    -webkit-transition: all  ease-in-out .5s;
    transition: all  ease-in-out .5s ;
    -moz-transition: all  ease-in-out .5s;
}
/* ----------------------- */
.live-1s{
    -webkit-transition-duration: 1s;
    -webkit-transition: all  ease-in-out 1s;
    transition: all  ease-in-out 1s ;
    -moz-transition: all  ease-in-out 1s;
}
/* ----------------------- */
.live-1s5d{
    -webkit-transition-duration: 1.5s;
    -webkit-transition: all  ease-in-out 1.5s;
    transition: all  ease-in-out 1.5s ;
    -moz-transition: all  ease-in-out 1.5s;
}
/* -------------------------------------------------------------------------- */
/* 0s/none */
.effZoom:active .spy-child,.effOff:active, .effOff , .effOff:hover, .effActv:active, .fancybox-prev *:active, .fancybox-next *:active, .btnEnviar:active, .box3 *:active, .effGrayscale:active, .rsMinW .rsArrowIcn:active, .effScale:active, .effBg:active, [class*="effShadow"]:active:after
{transition: none!important; -webkit-transition: none!important; -webkit-transition-duration: 0!important;}
/* -------------------------------------------------------------------------- */
.effScale:hover{transform: scale(1.05); -webkit-transform: scale(1.05);}
.effScale:active{transform: scale(1.02);-webkit-transform: scale(1.02);}
/* -------------------------------------------------------------------------- */
.effPulse:hover{animation: effPulse .2s linear;}
.effPulse:active{transform: scale(.98);-webkit-transform: scale(.98);}
@keyframes effPulse{
    50%{ transform: scale(1.05);}
    100%{ transform: scale(1);}
}
/* -------------------------------------------------------------------------- */
.effZoom:hover .spy-child{transform: scale(1.05); -webkit-transform: scale(1.05);}
/*.effZoom:active .spy-child{transform: scale(1.03);-webkit-transform: scale(1.03);}*/
/* -------------------------------------------------------------------------- */
.ripple-wrapper{z-index: 999999;}
.effRippleDark .ripple-wrapper{ background-color: rgba(0,0,0,.3);}
.effRippleRed .ripple-wrapper{ background-color: rgba(228, 29, 48, .3);}
.effRippleBlue .ripple-wrapper{ background-color: rgba(0, 60, 88, .3);}
/* -------------------------------------------------------------------------- */
.effBtn{box-shadow: 1px 1px 1px 1px #9e9e9e; }
.effBtn:hover{box-shadow: 2px 2px 2px .5px #9e9e9e; }
.effBtn:active{box-shadow: 1px 1px .5px .5px #9e9e9e; }
/* -------------------------------------------------------------------------- */
.effA1{animation: animaScale .6s ease-in-out  5s  infinite alternate;}
/* -------------------------------------------------------------------------- */
.effActv:active{transform: scale(.96);}
/* -------------------------------------------------------------------------- */
.effAinto{position:relative;}
.effAinto .intoIcon {
    top: 0;
    left: 0;
    position: absolute;
}
.effAinto:hover .intoIcon {animation: animaScale .4s ease-in-out infinite alternate;}
/* -------------------------------------------------------------------------- */
.effBlop:hover>div{ transform: translateY(-20px); text-align: center!important;}
/* -------------------------------------------------------------------------- */
.effOpac2 .puny-child{opacity: .2;}
.effOpac4 .puny-child{opacity: .4;}
.effOpac6 .puny-child{opacity: .6;}
.effOpac8 .puny-child{opacity: .8;}
[class*="effOpac"]:hover .puny-child{opacity: 1!important;}
/* -------------------------------------------------------------------------- */
[class*="effShadow"]{position: relative;}
[class*="effShadow"]:after{
    content:"";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}
.effShadow:hover:after{background-color: rgba(0,0,0, .1)!important;}
.effShadowWte:hover:after{background-color: rgba(255,255,255, .1)!important;}

.effShadowWteB:after{
    content:'';
    bottom:0;
    left:0;
    top:0;
    right:0;
    box-shadow: inset 0 -60px 60px -20px rgba(255,255,255,.6);
}
.effShadowWteB:hover:after{box-shadow: inset 0 -40px 20px -30px rgba(255,255,255,.3);}

.effShadowWrap:hover{box-shadow: 0 0 0 2000px rgba(0,0,0,.07);}

/* -------------------------------------------------------------------------- */
.effGrayscale{
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: grayscale(100%);
}
.effGrayscale:hover{
    -webkit-filter: grayscale(0%);
    -moz-filter: grayscale(0%);
    -ms-filter: grayscale(0%);
    -o-filter: grayscale(0%);
    filter: grayscale(0%);
}
/* -------------------------------------------------------------------------- */
.hvr-drawer{position: relative;}
.hvr-drawer .drawer-child{
    padding: 0;
    overflow: hidden;
    position: relative;
    transition: all ease-in-out .5s ;
    transition-duration: .5s ;
    transform: scale(0);
    max-height: 0;
}
.hvr-drawer:hover .drawer-child{
    padding: 5px 5px 8px 5px;
    max-height: 1000px;
    transform: scale(1);
}

/* -------------------------------------------------------------------------- */
.effHouse .shy-child, 
.effNeighbor ~ .shy-child{
    opacity: 0; 
    visibility: hidden;
}
.effHouse:hover .shy-child, .effHouse:focus .shy-child, .effHouse:active .shy-child,
.effNeighbor:hover ~ .shy-child, .effNeighbor:focus ~ .shy-child, .effNeighbor:active ~ .shy-child{
    visibility: visible;
    opacity: 1;
}

.effHouse .cptH-child{max-width: 0; overflow: hidden;}
.effHouse:hover .cptH-child, .effHouse:focus .cptH-child{max-width: 1000px;}

.effHouse .cptV-child{max-height: 0; overflow: hidden;}
.effHouse:hover .cptV-child, .effHouse:focus .cptV-child{max-height: 150px;}
/* -------------------------------------------------------------------------- */
.effMatrix:hover{transform: translateX(7px);}
/* -------------------------------------------------------------------------- */
/* toggle */
.effToggle{
    position: relative;
    text-align: center;
    cursor: pointer;
    width: 40px;
    height: 36px;
}
.effToggle .has-toggle{
    position: absolute;
    width: 80%;
    left: 0;
    height: 4px;
    border-radius: 3px;
    margin: 3px 10%;
    background-color: #fff;
}
.effToggle .has-toggle:first-child{
    top: 10%;
}
.effToggle .has-toggle:nth-child(2){
    top: 50%;
    margin-top: -2px;
}
.effToggle .has-toggle:nth-child(3){ 
    bottom: 10%;
}
.effToggle.active .has-toggle{ 
    opacity: 0;
}
.effToggle.active .has-toggle:first-child{ 
    opacity: 1;
    transform:  rotate(42deg) translate(6px, 7px);
}
.effToggle.active .has-toggle:nth-child(3){ 
    opacity: 1;
    transform:  rotate(-42deg) translate(6px, -7px);
}
/* toggle-arrow */
.toggle-arrow .has-toggle:first-child{ 
    transform:  rotate(40deg) translate(4px, 2px) scale(.60,1);
}
.toggle-arrow .has-toggle:nth-child(2){opacity: 0;}
.toggle-arrow .has-toggle:nth-child(3){ 
    transform:  rotate(-40deg) translate(4px, -2px) scale(.60,1);
}

