/* -------------------------------------------------------------------------- */
/*                                                                            */ 
/*     88888      88884   788888888888888   788884    78888   788888888888888 */ 
/*    78887      488882  8888888888888888  88887    1888888  8888888888888888 */ 
/*    7          88888  28888              87                88888            */ 
/*       88      88888  888885 777777         2  777777777  088888 7777777    */ 
/*    88888     58888   888888888888888    788878888888888  7888888888888887  */ 
/*   88888      88888            788888  788887         7             888881  */ 
/*   88888     788889             88888  88888                        88888   */ 
/*  7888888888888888  7888888888888888   8888888888888881  8888888888888884   */ 
/*   78888888888887   788888888888887     08888888888888   88888888888881     */ 
/*                                                                            */
/* -------------------------------------------------------------------------- */
/* Css: v2.9 - Instituto NSG - 58 - 21/03/2016 ---------_-Joseafs-------------*/
/* -------------------------------------------------------------------------- */
.sm-headerUpdate{
    margin-top: -200px;
    opacity: 0;
}
.sm-w100{width: 100%!important;}
.sm-w50{width: 50%!important;}
.sm-w33{width: 33%!important;}

.sm-max-hx{max-height: 1000px; opacity: 1!important;}

.sm-dInlineB{display: inline-block!important;}
.sm-displayOff{display: none!important;}
.sm-displayOn{display: block!important;}
.sm-pRelative{position: relative!important;}

.sm-tCenter{text-align: center!important;}

.sm-floatOff{float: none!important;}

.sm-mgn0{margin: 0px!important;}
.sm-pdg0{padding: 0px!important;}
.sm-pdg5{padding: 5px!important;}

h1{font-size: 2.6rem!important;}
h2{font-size: 2.2rem!important;}
h3{font-size: 1.8rem!important;}

.hvrTxtB{
    width: 120px;
    opacity: 1;
    margin-left: -60px;
    word-break: break-all;
}
.rsMinW .rsArrowRight{right:0!important;}
.rsMinW .rsArrowLeft{left:0!important;}

@media all and (max-width: 640px){
.default .title{padding: 15px 0 8px 0;}
.default img.sampleImg{
    float: none;
    display: inline-block;
    margin: 0 0 15px 0;
}
.inputField{width: 100%;}
.iptBtn{width: 100%; height: auto!important; padding: 10px 0; font-size: 1.6rem!important;}
}
@media all and (max-width: 480px){
/* X Small */
.xsm-w100{width: 100%!important;}
.xsm-w90{width: 90%!important;}
}