/* -------------------------------------------------------------------------- */
/*                                                                            */ 
/*     88888      88884   788888888888888   788884    78888   788888888888888 */ 
/*    78887      488882  8888888888888888  88887    1888888  8888888888888888 */ 
/*    7          88888  28888              87                88888            */ 
/*       88      88888  888885 777777         2  777777777  088888 7777777    */ 
/*    88888     58888   888888888888888    788878888888888  7888888888888887  */ 
/*   88888      88888            788888  788887         7             888881  */ 
/*   88888     788889             88888  88888                        88888   */ 
/*  7888888888888888  7888888888888888   8888888888888881  8888888888888884   */ 
/*   78888888888887   788888888888887     08888888888888   88888888888881     */ 
/*                                                                            */
/* -------------------------------------------------------------------------- */
/* Css: v3 - Uses Software & Design - 05/04/2016 ---------_-Joseafs-----------*/
/* Css: v3 - Monte Cristo - 59 - 02/05/2016 ----------_-Joseafs---------------*/
/* -------------------------------------------------------------------------- */
@media all and (min-width: 1024px){
/* -------------------------------------------------------------------------- */
/* Ajustes GT */
.gt-displayOn{display: block;}
.gt-displayOff{display: none;}
}
/* -------------------------------------------------------------------------- */
@media all and (max-width: 1023px){
/* Ajustes MD */
.md-w100{width: 100%!important;}
.md-w80{width: 80%!important;}
.md-w50{width: 50%!important;}
.md-w33{width: 33%!important;}
.md-w25{width: 25%!important;}

.md-displayOn{display: block;}
.md-displayOff{display: none;}

.md-pdg0{padding: 0!important;}
.md-mgn0{margin: 0!important;}


.md-tCenter{text-align: center!important;}

.md-pRelative{position: relative!important;}


section{padding-top: 10px;}
/* -------------------------------------------------------------------------- */
/* Barra Lateral - Sidebar */
#header-content{
    position: fixed;
    right: -100%;
    left: auto!important;
    top:0;
    width: 100%;
    z-index: 9;
    height: 100%;
    min-width: 200px;
    background: rgba(255, 255, 255, .95);
}
#header-content.active{right: 0!important;}
#header-content>.container{
    width: 100%;
    height: 100%;
    overflow: auto!important;
}
#header-content #header-menu .contMenu .linkMenu{
    padding: 20px;
    font-size: 2.6rem;
    text-transform: uppercase;
    color: #271E1D!important;
}
/* -------------------------------------------------------------------------- */
/* Pagina Infraestrutura */
.portaria {
    width: 565px;
    height: 480px;
}
.portaria .gumPos-txt{
    right: 0;
    top: 35%;
}
.salao-festas {
    width: 610px;
    height: 560px;
}

.playground {
    width: 830px;
    height: 480px;
}
.fachada {
    width: 600px;
    height: 450px;
}
}